
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css//Ssite.css" />
</head>
<body>
    <header>
        <div class="container menu">
            <ul>
               <a  class="left" href="/Home/HomePage"></a>
        </ul>
        </div>
    </header>
    <div class = "container">
        @RenderBody()
    </div>
</body>
</html>
